# Configurações do Banco de Dados Oracle
DB_URL=jdbc:oracle:thin:@oracle-db:1521:XE
DB_USER=system
DB_PASS=oracle
ORACLE_PASSWORD=oracle

# Configurações da Aplicação Spring Boot
SERVER_PORT=8080
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# Configurações do ambiente
# Opções: staging, production
ENVIRONMENT=staging
